name: Docker Build and Push

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        target: [dragonctl, k8s-kubeadm-token-server, scheduler]
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Log in to GitHub Container Registry
      run: docker login ghcr.io -u ${{ github.actor }} --password "${{ secrets.GITHUB_TOKEN }}"
    - name: Set up QEMU
      run: |
        sudo apt-get update
        sudo apt-get install -y qemu-user-static

    - name: Prepare Environment
      run: |
        # Convert repository name to lowercase
        REPO="${{ github.repository }}"
        REPO="${REPO,,}"
        echo "IMAGE_BASE=ghcr.io/$REPO/${{ matrix.target }}" >> $GITHUB_ENV

    - name: Build and Push amd64
      env:
        DOCKER_CLI_EXPERIMENTAL: enabled
      run: |
        docker build --platform linux/amd64 --target ${{ matrix.target }} -t ${{ env.IMAGE_BASE }}:latest-amd64 .
        docker push ${{ env.IMAGE_BASE }}:latest-amd64
        
    - name: Build and Push arm64
      env:
        DOCKER_CLI_EXPERIMENTAL: enabled
      run: |
        docker build --platform linux/arm64 --target ${{ matrix.target }} -t ${{ env.IMAGE_BASE }}:latest-arm64 .
        docker push ${{ env.IMAGE_BASE }}:latest-arm64
        
    - name: Create and Push Manifest
      env:
        DOCKER_CLI_EXPERIMENTAL: enabled
      run: |
        docker manifest create ${{ env.IMAGE_BASE }}:latest ${{ env.IMAGE_BASE }}:latest-amd64 ${{ env.IMAGE_BASE }}:latest-arm64
          
        docker manifest push ${{ env.IMAGE_BASE }}:latest
